NODE_ENV=ejemplo
PORT=8081
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=tu_password_local
DB_NAME=nodejs_dev
DB_DIALECT=postgres
DB_SSL=false
DB_PORT=5432
JWT_SECRET=un_secreto_solo_para_desarrollo
JWT_EXPIRES_IN=1h